{{#if template}}
  <template>
    <div class='{{dashCase name}}'>{{camelCase name}}</div>
  </template>
{{/if}}

{{#if script}}
  {{#if typescript}}
    <script setup lang='ts'>
    </script>
  {{else}}
    <script setup>
    </script>
  {{/if}}
{{/if}}
{{#if style}}
  <style lang='{{lang}}'>
  </style>
{{/if}}